%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
= session.inspect
%form{ :action => ""}
  .row-fluid
    .span4
      %h4
        #stats.ct
          #max_price_label
            max price
            %label{:id => "money_max_price"}
              = session[:max_price] if session[:max_price]
          #money_left_label.money_left_green
            money left
            %label{:id => "money_left"} #{@money_left if @money_left}
      #cart_items
        %h4
          - if @selected_items
            Cheap Cart Items
            - for item in @selected_items
              %label #{item[:name]} #{item[:price]}
  .row-fluid
    .span4#search_box
      - unless @money_left
        %input{:type => "text", :id => "max_price",  :name => "max_price", :class => "text", :disabled => @selected_items == nil ? nil : "disabled", :placeholder => "Max Price"}
      %input{:type => "text", :id => "menu_item", :name => "menu_item", :class => "text", :placeholder => "Menu Item" }
      %input{:type => "button", :value => "Find", :class => "btn btn-large btn-block", :id => "submit_btn", :onclick => "populate()"}
      %input{:type => "button", :value => "Restart", :class => "btn btn-block", :id => "submit_btn", :onclick => "restart()"}
      %input{:type => "hidden",:id => "money_left_hidden", :value => session[:money_left] == nil ? "" : session[:money_left]}
      - if @selected_items
        %input{:type => "button", :value => "Finalize", :class => "btn btn-block", :id => "submit_btn", :onclick => "finalize()"}
  .row-fluid
    .span12
      #results
%script{:type => "text/javascript"}
  :plain
    $(document).ready(function(){
      $("#max_price").keyup(function() {
        $("#money_left").text($("#max_price").val());
        $("#money_max_price").text($("#max_price").val());
        $("#money_left_hidden").val($("#max_price").val());
      });

      $('.result_select').change( update_money_left_color() );
      
    });
    
    function update_money_left_color(){
      money_max = $("#money_max_price").text();
      money_left = $("#money_left").text();
      ratio = money_left/money_max;

      if (ratio < .30) {
        $("#money_left_label").removeClass("money_left_green money_left_yellow");
        $("#money_left_label").addClass("money_left_red");
      }else if (ratio < .60) {
        $("#money_left_label").removeClass("money_left_green money_left_red");
        $("#money_left_label").addClass("money_left_yellow");
      }
    }
   

    function populate(){
      //alert("yeay");
      $('#results').load("pages/search/?menu_item=" + $('#menu_item').val() + "&money_left=" + $('#money_left').text());
      
    }

    function restart(){
      //alert("yeay");
    	window.location.replace("http://localhost:3000/pages/restart");
    }
    
    function postToSelf(){
      checked_id = null
      checked_name = null
      checked_price = null
      var allVals = [];
        $('option:selected').each(function() {
          checked_id = $(this).val();
          checked_name = $(this).attr("item_name");
          checked_price = $(this).attr("price");
        });
    	window.location.replace("http://localhost:3000/pages/add_to_cart?max_price=" + $('#max_price').val() + "&money_left="+$('#money_left').text()+"&id="+checked_id+"&name="+checked_name+"&price="+checked_price);
    }
    
    function calculateResultCartTotal(){
      //alert("shit");
      $("#money_left").text(parseFloat($("#money_left_hidden").val())-parseFloat($('.result_select').val()));
    }


    function populate(){
      //alert("yeay");
      $('#results').load("pages/search/finalize");
    }
    
